header {
    background: #4e77b9;
    display: flex;
    justify-content: space-between;
     padding: 20px;
     border-radius: 15px;
     background-image: url(../../Downloads/monk.jpg);
}
.hero {
    background: #2563eb;
    text-align:center;
    padding: 80px;
    color: white;
    border-radius: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.content {
padding: 50px 20px;
text-align: center;
}
footer {
    background-color: #0a1d36;
color:#94a3b8;
    text-align: center;
    padding: 20px;
}
.robot {
    background-color: #114588;
    
}